
body
{
background-color: #eee;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
div 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a
{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    border-radius: 50%;
    background-color:#d2d7d3  ;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    margin-left: 20px;
    transition: all 0.5s;
}
.icon:before 
{
    font-family: "FontAwesome";
    color: #fff;
    font-size: 20px;
}
a.facebook:before 
{
    content: '\f09a';
    color: #fff;
}
a.twitter::before
{
    content: '\f099';
}
a.github:before 
{
    content: '\f113';
}
a span
{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: -24px;
    right: -24px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;

}
a span:after 
{
    content: '';
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

a.facebook:hover 
{
    background-color: #4183d7;
}
a.facebook:hover span 
{
    color: #4183d7;
}
a.twitter:hover {
    background-color: #19b5fe;
}

a.twitter span {
  
    color:#19b5fe;
  
}
a.github:hover {
    background-color: #000;
}

a.github span
 {
    color: #000;
 }

 a:hover span
 {
     visibility: visible;
     opacity: 1;
     bottom: 50px;
 }