*
{
    margin: 0;
    padding: 0;
}
.gallery
{
    width: 300px;
    height: 250px;
}

.gallery .image
{
    position: relative;
    top: 15px;
}
 .small_image span
{
    position: absolute;
    padding: 5px;
    background-color: #ddd;
    border: 1px solid #222;
    left: 220px;
    top: 15px;
    display: none;

}
.small_image:hover span
{
    display: block;
}